.rbc-calendar {
  font-family: Pretendard;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rbc-month-view {
  border: none;
}
.rbc-header {
  border: none;
}

.rbc-header + .rbc-header {
  border-left: none;
}

.rbc-month-header {
  padding-bottom: 12px;
  border-bottom: 1px solid #e0e0e5;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: none;
}

.rbc-off-range-bg {
  background-color: white;
}

.rbc-event {
  border: none;
  background: transparent;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
}

.rbc-event-content {
  width: 100%;
}

.rbc-event-label {
  font-size: 100%;
}

.rbc-month-row {
  min-height: 124px;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #edeef2;
}

.rbc-row-content {
  height: 100%;
}

.rbc-date-cell {
  padding-right: 0px;
}

/* 클릭/선택 배경 제거 */
.rbc-event.rbc-selected,
.rbc-event:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.rbc-event:hover {
  background-color: transparent;
}

@media (max-width: 768px) {
  .rbc-row-content {
    display: flex;
    flex-direction: column;
    height: 16px;
  }
  .rbc-row-segment {
    padding: 0px;
  }
}
